{% extends "layout" %}

{% block metatags %}
    {{ parent() }}

    <meta property="og:url" content="{{ store.url }}/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ store.name|e('html') }}" />

    {% if store.logo %}
        <meta property="og:image" content="{{ store.logo }}" />
    {% endif %}

    {% if store.description_short %}
        <meta property="og:description" content="{{ store.description_short|e('html') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div id="body-home">
        {% if widgets.homepage %}
            {{ renderWidgets('homepage') }}
        {% else %}
            {% if products %}
                <ul id="products-list">
                    {% for product in products %}
                        {% include 'productelm' %}
                    {% endfor %}
                </ul>

                {{ paginate() }}
            {% else %}
                <div class="notice">Não foram encontrados produtos.</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}